/* CSS Reset */
/* Allows to easily manipulate the sizes and positioning of elements */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*  Navigation Bar */
/*1rem = 16px (default font size)*/



nav {
	/* Shorthand property */
	/* Applies padding to all sides */
	/* Value is equal to 12.8px based on the root element */
	/* Creates space from between the ul tag and the nav element */

	padding: 0.8rem;

	/*properties that make up the padding property*/
	
	/*padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	
	/*creates space between the nav and intro selection */
	/*applies to the specific side of the box model  */

	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements */
/*padding is best used when creating space between an element's border and its content*/

nav .nav, nav .nav-logo {
	/*creates space between the ul and the nav elements*/
	margin: 0.5rem;
	/*changes elements to inline elements*/
	display: inline;
}

/*intro section*/
#intro {
	/*creates space between the contents of the intro section and its border*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	/*shorthand property*/
	/*padding: 2rem 10% 3rem*/

	text-align: center;
}

.header {
	/*best used when horizontally aligning text instead of using margin and padding	*/
	text-align: center;
}

#intro h2, #intro p {
	/*creates space between the contents of the intro selection*/
	margin-bottom: 1rem;
}

#intro button {
	color: white;
/*changes thickness of the text	*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
/*para pa curve, yes naman*/
	font-size: 1rem;
	padding: 1rem;
}


/*succeed info section*/
/*apply exact same properties as the intro section but can have its own CSS rule for flexibility*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	/*creates space between the header and the card section*/
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	/*creates space between the h3 tag and the paragraph tags*/
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*allows the cards to appear beside each other*/
	display: inline-block;
	/*aligns elements with the tallest elements in line*/
	/*used with the "inline-block" value*/
	vertical-align: top;
	/*allows cards to have equal height that adjust with the content*/
	min-height: 175px;
	/*only uses 30% and not 33.33% because of the margin, to avoid overflow and horizontal scrolling*/
	width: 30%;
	/*creates horizontal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}




.card h3 {
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: normal;
}
#pre-footer {
    background-color: #00356B;
    border: 1px solid black;
    margin-top: 60px;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
}    
#pre-footer div {
  display: inline-block;
  margin: 0 100px;
  text-align: left;
  color: white;

}
#pre-footer h3 {
  display: block;
  margin-left: -70px;
  margin-bottom: 5px;
  font-weight: normal;
}

#pre-footer p {
  display: block;
  margin-left: -70px;
  line-height: 2.0;
  font-size: 14px;
}
#pre-footer div:nth-of-type(3) {
  margin-top: 50px;
}
#pre-footer div:nth-of-type(4) {
  margin-top: 20px;
}
footer span {
    padding-right: 20px;
    color: #646464;
}
footer {
  margin-top: 10px;
  margin-bottom: 10px; 
  margin-left: 15px;
}
